.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text{
    width: 60%;
}

p{
    font-size: 20px;
}

h2{
    font-size: 50px;
}

.season_card{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;   
    margin-top: 50px; 
}

.img{
    width: 30%;
    margin-top: 25px;
}

#season{
    width: 100%;
}