<div>
    <div class="p">
        <p>Plataformas de streaming</p>
    </div>
    <div class="img">
        <a href="https://www.primevideo.com/region/na/detail/0N4OPSBX6TV4Y1WU0O8ELH2D4T/ref=atv_dp_share_cu_r" target="_blank">
            <img src="Prime.png" alt="Prime Video">
        </a>
    </div>
</div>
<div>
    <div class="p">
        <p>Redes sociales</p>
    </div>
    <div class="img">
    <a href="https://twitter.com/goodomensprime" target="_blank">            
        <img src="x.png" alt="X">
    </a>
    <a href="https://www.instagram.com/explore/locations/461693164/good-omens/?locale=es_LA">
        <img src="Instagram.png" alt="Instagram" target="_blank">
    </a>
    <a href="https://www.facebook.com/goodomensprime?mibextid=ZbWKwL">
        <img src="facebook.png" alt="Facebook" target="_blank">
    </a>
    </div>
</div>
